## 客户分类问题（k-means 聚类问题）
### 数据来自于分销商，分销商将不同类别的产品卖给不同的客户，（产品包括新鲜食品，牛奶，杂物等），客户可能是饭店，咖啡馆，便利店，大型超市等等
### 目标是帮助分销商针对不同类别的客户更好的优化自己的货物配送服务

In [1]:
# load the data
import numpy as np
import pandas as pd

data = pd.read_csv("Wholesale customers data.csv") #读取数据集
data.drop(['Region', 'Channel'], axis = 1, inplace = True) #删除'Region', 'Channel'特征
print("Wholesale customers dataset has {} samples with {} features each.".format(*data.shape))

/Users/james/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

Wholesale customers dataset has 440 samples with 6 features each.

In [2]:
data.head()

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0  12669  9656     7561     214              2674        1338
1   7057  9810     9568    1762              3293        1776
2   6353  8808     7684    2405              3516        7844
3  13265  1196     4221    6404               507        1788
4  22615  5410     7198    3915              1777        5185

In [3]:
from IPython.display import display 
display(data.describe())

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [9]:
data.isnull().any()

Fresh               False
Milk                False
Grocery             False
Frozen              False
Detergents_Paper    False
Delicassen          False
dtype: bool

In [10]:
indices = [3, 141, 340] # 样本的索引
samples = pd.DataFrame(data.loc[indices], columns = data.keys()).reset_index(drop = True) # 创建samples保存样本数据
print("从数据集中采样的数据包括:")
display(samples)

从数据集中采样的数据包括:

   Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0  13265   1196     4221    6404               507        1788
1  30379  13252     5189     321                51        1450
2    381   4025     9670     388              7271        1371

In [13]:
new_data = data.copy()
new_data.drop(['Delicassen'], axis = 1, inplace = True) # 删除特征值作为新的数据集

from sklearn.cross_validation import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(new_data, data['Delicassen'], test_size=0.25, random_state=42) # 将数据集划分为训练和测试集

from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0) # 创建学习器
regressor.fit(X_train, y_train) # 训练学习器

score = regressor.score(X_test, y_test) # 得到效果得分
print("决策树学习器得分：{}".format(score))

决策树学习器得分：-11.023627900466764

/Users/james/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [ ]:
def normalize(x,axis=-1,p=2):
    lp_norm = np.at